/* Varaibles */
/* Global */
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  display: inline-block;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  width: 183px;
  height: 47px;
  line-height: 47px;
  font-weight: 700;
  border-radius: 25px;
  transition: all 1s;
  text-align: center;
}

.btn:hover {
  background-color: #17daa3;
  border-color: #17daa3;
  color: white;
}

.color-main {
  color: #17daa3;
}

section {
  padding-top: 105px;
}

.section-title {
  font-size: 54px;
  font-weight: 400;
  margin-top: 0;
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  left: 50%;
  top: 125%;
  transform: translateX(-50%);
  background-color: #17daa3;
}

.section-subtitle {
  margin-bottom: 120px;
}

/* Navbar */
.nav-bar {
  position: absolute;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 100%;
}

.nav-bar .logo {
  -ms-flex: 25%;
      flex: 25%;
  text-align: left;
}

.nav-bar .logo p {
  margin: 0 20px;
  color: white;
  font-weight: 700;
  font-size: 26px;
}

.nav-bar .menu {
  -ms-flex: 75%;
      flex: 75%;
  text-align: right;
}

.nav-bar .menu ul {
  margin: 0 20px;
  list-style-type: none;
  padding: 0;
}

.nav-bar .menu ul li {
  display: inline-block;
  margin-right: 60px;
  position: relative;
}

.nav-bar .menu ul li:last-child {
  margin-right: 0;
}

.nav-bar .menu ul li:hover .popup-menu {
  display: block;
}

.nav-bar .menu ul a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.nav-bar .menu ul a:hover {
  color: #17daa3;
}

.nav-bar .menu ul .popup-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: white;
  margin: 0;
}

.nav-bar .menu ul .popup-menu li {
  margin: 0;
}

.nav-bar .menu ul .popup-menu li a {
  display: block;
  padding: 10px 35px;
  color: black;
  transition: all 1s;
}

.nav-bar .menu ul .popup-menu li a:hover {
  background-color: #17daa3;
  color: white;
}

/* Splash */
.splash {
  background-image: url("https://images.pexels.com/photos/375732/pexels-photo-375732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.splash .splash-inner {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.splash .splash-inner .page-title {
  font-weight: 400;
  font-size: 54px;
}

.splash .splash-inner .btn-splash {
  color: white;
  border-color: white;
  margin: 63px 0;
}

.splash .splash-inner .btn-splash:hover {
  border-color: #17daa3;
}

.splash::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

/* About us */
.about-us {
  padding-bottom: 105px;
}

.about-us .about-box {
  -ms-flex: 25%;
      flex: 25%;
  margin-bottom: 100px;
}

.about-us .about-box .btn-icon {
  display: inline-block;
  font-size: 68px;
  color: #87949E;
  width: 185px;
  height: 185px;
  background-color: #EDEFF1;
  border-radius: 50%;
  line-height: 185px;
  transition: all 1s;
  margin-bottom: 30px;
}

.about-us .about-box .btn-icon:hover {
  color: white;
  background-color: #17daa3;
}

.about-us .about-box h3 {
  margin: 20px 0;
}

.about-us .about-box p {
  padding: 0 20px;
}

/* Photography Projects */
.photography-projects, .left-align-box {
  background-color: #EDEFF1;
  padding: 50px 0;
}

.photography-projects .image, .left-align-box .image {
  -ms-flex: 50%;
      flex: 50%;
}

.photography-projects .image img, .left-align-box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photography-projects .project-description, .left-align-box .project-description {
  -ms-flex: 50%;
      flex: 50%;
}

.photography-projects .project-description p, .photography-projects .project-description h2, .left-align-box .project-description p, .left-align-box .project-description h2 {
  text-align: left;
  margin: 50px 0;
  padding: 0 50px;
}

.photography-projects .project-description p, .left-align-box .project-description p {
  font-size: 20px;
  line-height: 50px;
}

.photography-projects .project-description h2, .left-align-box .project-description h2 {
  font-size: 36px;
}

.photography-projects .project-description .btn, .left-align-box .project-description .btn {
  display: block;
  margin-left: 50px;
}

/* Design Project */
.design-projects, .right-align-box {
  padding: 50px 0;
}

.design-projects .wrapper, .right-align-box .wrapper {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

.design-projects .image, .right-align-box .image {
  -ms-flex: 50%;
      flex: 50%;
}

.design-projects .image img, .right-align-box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.design-projects .project-description, .right-align-box .project-description {
  -ms-flex: 50%;
      flex: 50%;
}

.design-projects .project-description p, .design-projects .project-description h2, .right-align-box .project-description p, .right-align-box .project-description h2 {
  text-align: left;
  margin: 50px 0;
  padding: 0 50px;
}

.design-projects .project-description h2, .right-align-box .project-description h2 {
  font-size: 36px;
}

.design-projects .project-description p, .right-align-box .project-description p {
  font-size: 20px;
  line-height: 50px;
}

.design-projects .project-description .btn, .right-align-box .project-description .btn {
  display: block;
  margin-left: 50px;
}

/* ceo Info */
.info {
  background-image: url("https://images.pexels.com/photos/1181622/pexels-photo-1181622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  margin-bottom: 0;
}

.info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

.info .container {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.info img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/*Our Services*/
.our-services {
  background-color: #EDEFF1;
  margin: 0;
  padding: 105px 0;
}

.our-services .service-box {
  -ms-flex: 50%;
      flex: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 105px;
}

.our-services .service-box .icon {
  -ms-flex: 25%;
      flex: 25%;
}

.our-services .service-box .icon i {
  display: inline-block;
  width: 65px;
  height: 65px;
  font-size: 35px;
  background-color: white;
  color: #17daa3;
  line-height: 65px;
  border-radius: 50%;
}

.our-services .service-box .description {
  -ms-flex: 75%;
      flex: 75%;
  text-align: left;
}

.our-services .service-box .description h1 {
  margin-top: 15px;
  font-size: 35px;
}

.our-services .service-box .description p {
  font-size: 15px;
}

/* Our Team */
.our-team .team-member {
  -ms-flex: 20%;
      flex: 20%;
  position: relative;
  height: 350px;
}

.our-team .team-member::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17daa3;
  opacity: 0.7;
}

.our-team .team-member:hover::after {
  display: block;
}

.our-team .team-member:hover .team-member-name {
  display: block;
}

.our-team .team-member .team-member-photo img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.our-team .team-member .team-member-name {
  display: none;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 700;
  color: white;
}

/* Pricing */
.pricing {
  background-color: #EDEFF1;
  padding-bottom: 105px;
}

.pricing .box-content {
  font-size: 24px;
  -ms-flex: 20%;
      flex: 20%;
  background-color: white;
  margin: 0 14px;
  text-align: left;
}

.pricing .head-section {
  border-bottom: 2px solid #EDEFF1;
  padding: 21px;
  color: #EDEFF1;
}

.pricing .head-section p:first-child {
  font-size: 48px;
  margin: 28px 0;
}

.pricing .middle-seciotn {
  padding: 21px;
}

.pricing .bottom-section .btn-box {
  background-color: #17daa3;
  display: block;
  padding: 21px;
  color: white;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

.pricing .bottom-section .btn-box i {
  position: absolute;
  left: 80%;
}

/* */
.locations .image img {
  object-fit: contain;
}

/* Samples */
.samples {
  background-image: url("https://images.unsplash.com/photo-1542369495651-3b55935edb17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.samples h2 {
  font-size: 64px;
  font-weight: 400;
}

.samples .btn {
  color: white;
  border-color: white;
}

.samples .btn:hover {
  border-color: #17daa3;
}
/*# sourceMappingURL=style.css.map */