/* Varaibles */
$font-main: 'Raleway', sans-serif;
$color-main: #17daa3;
$color-grey: #87949E;
$color-lightGrey: #EDEFF1;
/* Global */
body {
    margin: 0;
    font-family: $font-main;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    width: 183px;
    height: 47px;
    line-height: 47px;
    font-weight: 700;
    border-radius: 25px;
    transition: all 1s;
    text-align: center;

    &:hover {
        background-color: $color-main;
        border-color: $color-main;
        color: white;
    }
}

.color-main {
    color: $color-main;
}

section {
    padding-top: 105px;
}

.section-title {
    font-size: 54px;
    font-weight: 400;
    margin-top: 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 3px;
        left: 50%;
        top : 125%;
        transform: translateX(-50%);
        background-color: $color-main;
    }
}

.section-subtitle {
    margin-bottom: 120px;
}

/* Navbar */
.nav-bar {
    position: absolute;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;

    .logo {
        flex: 25%;
        text-align: left;

        p {
            margin: 0 20px;
            color: white;
            font-weight: 700;
            font-size: 26px;
        }
    }

    .menu {
        flex: 75%;
        text-align: right;

        ul {
            margin: 0 20px;
            list-style-type: none;
            padding: 0;

            li {
                display: inline-block;
                margin-right: 60px;
                position: relative;

                &:last-child {
                    margin-right: 0;
                }

                &:hover .popup-menu {
                    display: block;
                }

            }

            a {
                text-decoration: none;
                font-weight: 700;
                color: white;

                &:hover {
                    color: $color-main;
                }
            }

            .popup-menu {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                display: none;
                background-color: white;
                margin: 0;
                
                li {
                    margin: 0;
                    width: 100%;
                    a {
                        text-align: center;
                        display: block;
                        padding: 10px 35px;
                        color: black;
                        transition: all 1s;

                        &:hover {
                            background-color: $color-main;
                            color: white;
                        }
                    }

                }

            }
        }
    }
}

/* Splash */
.splash {
    background-image: url("https://images.pexels.com/photos/375732/pexels-photo-375732.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    .splash-inner {
        z-index: 1;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;

        .page-title {
            font-weight: 400;
            font-size: 54px;

        }

        .btn-splash {
            color: white;
            border-color: white;
            margin: 63px 0;

            &:hover {
                border-color: $color-main;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }
}

/* About us */
.about-us {
    padding-bottom: 105px;

    .about-box {
        flex: 25%;
        margin-bottom: 100px;

        .btn-icon {
            display: inline-block;
            font-size: 68px;
            color: $color-grey;
            width: 185px;
            height: 185px;
            background-color: $color-lightGrey;
            border-radius: 50%;
            line-height: 185px;
            transition: all 1s;
            margin-bottom: 30px;

            &:hover {
                color: white;
                background-color: $color-main;
            }

            &.active-btn {
                color: white;
                background-color: $color-main;
            }
        }

        h3 {
            margin: 20px 0;
            opacity: 0;
        }

        p {
            padding: 0 20px;
            opacity: 0;
        }

        .active {
            opacity: 1;
        }
    }
}

/* Photography Projects */
.photography-projects, .left-align-box {
    background-color: $color-lightGrey;
    padding: 50px 0;

    .image {
        flex: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    .project-description {
        flex: 50%;

        p, h2 {
            text-align: left;
            margin: 50px 0;
            padding: 0 50px;
        }

        p {
            font-size: 20px;
            line-height: 50px;
        }

        h2 {
            font-size: 36px;
        }

        .btn {
            display: block;
            margin-left: 50px;
        }
    }
}

/* Design Project */
.design-projects, .right-align-box {
    padding: 50px 0;

    .wrapper {
        flex-direction: row-reverse;
    }

    .image {
        flex: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .project-description {
        flex: 50%;

        p, h2 {
            text-align: left;
            margin: 50px 0;
            padding: 0 50px;
        }

        h2 {
            font-size: 36px;
        }

        p {
            font-size: 20px;
            line-height: 50px;
        }

        .btn {
            display: block;
            margin-left: 50px;
        }
    }
}

/* ceo Info */
.info {
    background-image: url("https://images.pexels.com/photos/1181622/pexels-photo-1181622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    margin-bottom: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.8;
    }

    .container {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
}

/*Our Services*/
.our-services {
    background-color: $color-lightGrey;
    margin: 0;
    padding: 105px 0;

    .service-box {
        flex: 50%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 105px;

        .icon {
            flex: 25%;
            i {
                display: inline-block;
                width: 65px;
                height: 65px;
                font-size: 35px;
                background-color: white;
                color: $color-main;
                line-height: 65px;
                border-radius: 50%;
            }
        }

        .description {
            flex: 75%;
            text-align: left;

            h1 {
                margin-top: 15px;
                font-size: 35px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}

/* Our Team */
.our-team {

    .team-member {
        flex: 20%;
        position: relative;
        height: 350px;

        &::after {
            display: none;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-main;
            opacity: 0.7;
        }

        &:hover {
            &::after {
                display: block;
            }

            .team-member-name {
                display: block;
            }
        }

        .team-member-photo {
            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
            }
        }

        .team-member-name {
            display: none;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25px;
            font-weight: 700;
            color: white;
        }

    }
}

/* Pricing */
.pricing {
    background-color: $color-lightGrey;
    padding-bottom: 105px;

    .box-content {
        font-size: 24px;
        flex: 20%;
        background-color: white;
        margin: 0 14px;
        text-align: left;
    }

    .head-section {
        border-bottom: 2px solid $color-lightGrey;
        padding: 21px;
        color: $color-lightGrey;

        p {
            &:first-child {
                font-size: 48px;
                margin: 28px 0;
            }
        }
    }

    .middle-seciotn {
        padding: 21px;
    }

    .bottom-section {
        .btn-box {
            background-color: $color-main;
            display: block;
            padding: 21px;
            color: white;
            text-decoration: none;
            position: relative;
            text-transform: uppercase;
            

            i {
                position: absolute;
                left: 80%;
            }
        }
    }
}

/* Locations */
.locations {
    .image {
        img {
            object-fit: contain;
        }
    }
}

/* Samples */
.samples {
    background-image: url("https://images.unsplash.com/photo-1542369495651-3b55935edb17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    h2 {
        font-size: 64px;
        font-weight: 400;
    }

    .btn {
        color: white;
        border-color: white;

        &:hover {
            border-color: $color-main;
        }

    }
}